<section class="container">
  <h1 class="large text-primary">Sign Up</h1>
  <p class="lead"><i class="fas fa-user"></i> Create Your Account</p>
  <form class="form" (ngSubmit)="registerSubmit()">
    <div class="form-group">
      <input
        type="text"
        placeholder="Name"
        name="name"
        required
        [(ngModel)]="register.name"
      />
      <div class="d-block invalid-feedback">{{ error.name }}</div>
    </div>
    <div class="form-group">
      <input
        type="email"
        placeholder="Email Address"
        name="email"
        [(ngModel)]="register.email"
      />
      <div class="d-block invalid-feedback">{{ error.email }}</div>
      <small class="form-text"
        >This site uses Gravatar so if you want a profile image, use a Gravatar
        email</small
      >
    </div>
    <div class="form-group">
      <input
        type="password"
        placeholder="Password"
        name="password"
        minLength="6"
        [(ngModel)]="register.password"
      />
      <div class="d-block invalid-feedback">{{ error.password }}</div>
    </div>
    <div class="form-group">
      <input
        type="password"
        placeholder="Confirm Password"
        name="password2"
        minLength="6"
        [(ngModel)]="register.password2"
      />
    </div>
    <input type="submit" class="btn btn-primary" value="Register" />
    <div class="d-block invalid-feedback">{{ error.password2 }}</div>
  </form>
  <p class="my-1">
    Already have an account?
    <a [routerLink]="['/users/login']" target>Sign In</a>
  </p>
</section>
