<div>
  <h2 class="my-2">Experience Credentials</h2>

  <h4 class="my-3" *ngIf="exp.length == 0">There is no content to display.</h4>
  <table class="table" *ngIf="exp.length > 0">
    <thead>
      <tr>
        <th>Company</th>
        <th class="hide-sm">Title</th>
        <th class="hide-sm">Years</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let e of exp">
        <td>{{ e.company }}</td>
        <td class="hide-sm">{{ e.title }}</td>
        <td class="hide-sm">
          {{ e.to }}
        </td>
        <td>
          <button class="btn btn-danger">Delete</button>
        </td>
      </tr>
    </tbody>
  </table>
</div>
